@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    margin-bottom: 0;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    scroll-behavior: smooth;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}
div{
    position: relative;
}
/* Header */

#header {
    background: #0e1d41;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1030;
}

.navbar-brand {
    font-family: 'Bangers', cursive;
    font-size: 24px;
    color: white !important;
    margin-right: 20px;
    letter-spacing: 1.5px;
}

.navbar-brand img {
    width: 120px;
    height: 80px;
    object-fit: cover;
}

.nav-item {
    font-size: 14px;
    margin-right: 15px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s;
}

.nav-item:hover {
    color: #fd784f !important;
}

.phone-header {
    width: auto;
    height: 44px;
    background: #fd784f;
    padding-left: 45px;
    padding-right: 40px;
}

.phone-header span {
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    color: #FFFFFF;
}

.phone-header span i {
    font-size: 20px;
    margin-right: 5px;
}

/* Slideshow */

.carousel-item img {
    object-fit: cover;
    height: 85vh;
}

/* .carousel-item {
    transition-duration: 1s;
} */

.carousel-control-next, .carousel-control-prev {
    opacity: 0 !important;
    transition: all 0.4s;
}

#slideshow:hover .carousel-control-prev, #slideshow:hover .carousel-control-next {
    opacity: 1 !important;
}

.button-slideshow {
    font-size: 38px;
    color: black;
}

.carousel-caption {
    background-color: rgb(43, 43, 43, 0.4)
}

/* Feature */

#feature {
    padding-top: 50px;
}

.section-title {
    margin: 0 auto;
}

.section-title h3 {
    text-transform: uppercase;
    color: #1e2c4e;
    font-weight: 700;
}

.section-title span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #b0b1b3;
    margin-top: -4px;
}

.section-title::before {
    content: '';
    display: block;
    margin: 0 auto 20px auto;
    width: 3px;
    height: 30px;
    background: #fd784f;
}

.feature-row {
    padding-top: 70px;
}

.feature-card {
    margin: 0 auto;
    background: #edeff4;
}

.card-col {
    margin-top: 15px;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-title a {
    font-size: 22px;
    font-weight: 600;
    color: #0e1d41;
}

.card-text {
    font-size: 14px;
    font-weight: 400;
    color: #838383;
    margin-top: 14px;
}

.rooms-option-item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 6px;
}

.rooms-option-item span {
    font-size: 12px;
    font-weight: 400;
    color: #2e2e2e;
}

.rooms-option-item-content {
    margin-top: 8px;
    padding: 2px;
}

.rooms-option-item-content i {
    font-size: 24px;
    color: #0e1d41;
}

.rooms-option-item-content span {
    font-size: 12px;
    font-weight: 400;
    color: #2e2e2e;
    margin-left: 5px;
    margin-bottom: 3px;
}

.rooms-tag span {
    display: inline-block;
    font-size: 12px;
    background: #fd784f;
    margin-right: 7px;
    margin-bottom: 9px;
    color: #fff;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 1px;
    padding-bottom: 2px;
}

.feature-card-box {
    width: 100%;
    height: 86px;
    background: #1e2c4e;
    padding-left: 30px;
}

.feature-card-box i {
    font-size: 28px;
    color: #fd784f;
    vertical-align: middle;
}

.feature-card-box-content {
    padding-left: 30px;
}

.box-title {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0;
}

.box-price {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-top: -3px;
    margin-bottom: 0;
}

/* About-us */

.about-us {
    padding-top: 100px;
}

.parallax-window {
    width: 100%;
    height: 100%;
    background: transparent;
    background-color: rgba(10, 18, 36, 0.9);
}

.about-us-container {
    padding: 100px;
    position: relative;
    z-index: 100px;
}

.about-us-container .section-title h3 {
    color: white;
}

.about-us-row {
    padding-top: 50px;
}

.about-us-col {
    padding: 0 -80px;
    width : 100%
}

.about-us-col p {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 0px;
}

/*Operate*/
#operate {
    padding-top: 70px;
}

.row-operate {
    margin-top: 80px;
}

.bg-img {
    width: 230px;
    height: 230px;
}

.bg-outer {
    background: #edeff4;
    width: 100%;
	height: 100%;
    border-radius: 50%;
    opacity: .5;
    z-index: 1;
    transition: all 0.2s;
}
.bg-inner {
    background: #e1e5ec;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.2s;
}
.main-img{
    z-index: 4;
}

.main-img img {
    width: 227px;
    height: 227px;
    vertical-align: middle;
    border-style: none;
}
.main-img,.bg-inner,.bg-outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.operate-content{
    margin-top: 45px;
}
.operate-title{
    font-size: 18px;
    font-weight: 700;
    color: #1e2c4e;
}
.operate-text{
    color: #838383;
    margin-top: 17px;
    margin-bottom: 0;
}
.image-operate:hover .bg-outer{
    background: #446cb8;
    
}

.image-operate:hover .bg-inner{
    background: #3f5683;
}
/* Footer */
#footer{
    margin-top: 100px;
    background-color: #0e1d41;
    padding: 50px;
}
.footer-col{
    padding: 20px;
}
.footer-text{
    color: #c5c5c5;
    line-height: 2.29;
    margin-bottom: 0;
    margin-top: 20px;
}
.footer-col-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.footer-col-title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49px;
    height: 1px;
    background-color: #ccc;
}
.social-icon-ul{
    margin-top: 10px;
}
.social-icon-li{
    display: inline-block;
    width: 31px;
    height: 31px;
    border: solid 2px #fd784f;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    transition: all 0.2s;   
}
.social-icon-li a{
    color: #fd784f;
    font-size: 12px;
    transition: all 0.2s;
}
.social-icon-li:hover {
    background: #fd784f;
}
.social-icon-li:hover a{
    color: white;
}

.contact-info-icon{
    margin-right: 15px;
    display: inline-block;
    color: #fd784f;
    font-size: 20px;
}
.contact-info-text{
    color: #bcbcbd;
    line-height: 2.14;
}
.contact-info ul li {
    margin-bottom: 10px;
}
.form-text{
    color: #c5c5c5;
    line-height: 2.29;
    margin-bottom: 0;
}
.contact-form{
    margin-top: 20px;
}
.email{
    border-radius: 0px;
    background-clip: unset;
}
.btn-send{
    border-radius: 0px;
    background: #fd784f;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: none;
}
/* Credit */
#credit{
    background: #040b1d;
    padding: 10px;
}
#credit span{
    color: #485165;
}




/*reponsive */
@media screen and (max-width: 600px) {
    .about-us-col p{
        font-size: 14px;
    }
    .phone-header{
        padding: 0 10px 0 10px;
    }
    .carousel-caption h3{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
  }